{% extends 'base.html.twig' %}

{% block title %}New Actors{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Ajouter un nouvel acteur</h1>
    </div>
    {{ include('actors/_form.html.twig') }}

    <a href="{{ path('app_actors_index') }}">Retour à la liste</a>
{% endblock %}
